.test_image_and_result{
  background-color:grey;
  border-radius: 20px;
}

#img1{
  width:200px;
}

#img2{
  width:200px;
}

#sr{
  color:antiquewhite;
}

#fm{
  color:antiquewhite
}

#no{
  color:antiquewhite
}

#yes{
  color:antiquewhite
}

#eat{
  color:antiquewhite
}

#ate{
  color:antiquewhite
}

#egg{
  color:antiquewhite
}

#hen{
  color:antiquewhite
}

#cat{
  color:antiquewhite
}

#sat{
  color:antiquewhite
}

#sit{
  color:antiquewhite
}

#ink{
  color:antiquewhite
}

#pot{
  color:antiquewhite
}

#pen{
  color:antiquewhite
}

#mat{
  color:antiquewhite
}

#cup{
  color:antiquewhite
}

#in{
  color:antiquewhite
}

#on{
  color:antiquewhite
}

#coco{
  color:antiquewhite
}

#nut{
  color:antiquewhite
}

#tree{
  color:antiquewhite
}

#cut{
  color:antiquewhite
}

#hit{
  color:antiquewhite
}

#bat{
  color:antiquewhite
}

#pan{
  color:antiquewhite;
}

#cook{
  color:antiquewhite;
}

#tap{
  color:antiquewhite;
}

#corn{
  color:antiquewhite;
}

#ten{
  color:antiquewhite;
}

#hot{
  color:antiquewhite;
}

#top{
  color:antiquewhite;
}

#cook{
  color:antiquewhite;
}

#so{
  color:antiquewhite;
}

#mob{
  color:antiquewhite;
}

#go{
  color:antiquewhite;
}

#fir{
  color:antiquewhite;
}

#tub{
  color:antiquewhite;
}

#but{
  color:antiquewhite;
}

#and{
  color:antiquewhite;
}

#or{
  color:antiquewhite;
}

#cell{
  color:antiquewhite;
}

#doll{
  color:antiquewhite;
}

#moon{
  color:antiquewhite;
}

#pin{
  color:antiquewhite;
}

#pill{
  background-color: palevioletred;
}













